<h1>Listing bears</h1>

<table>
  <tr>
    <th>Colour</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bears.each do |bear| %>
  <tr>
    <td><%= bear.colour %></td>
    <td><%= bear.name %></td>
    <td><%= link_to 'Show', [bear.bear_list, bear] %></td>
    <td><%= link_to 'Edit', edit_bear_list_bear_path(bear.bear_list, bear) %></td>
    <td><%= link_to 'Destroy', [bear.bear_list, bear], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bear', new_bear_list_bear_path(params[:bear_list_id]) %>
